.env
__pycache__/configs.cpython-39.pyc
__pycache__/user_restricter.cpython-39.pyc
__pycache__/webhook_restricter.cpython-39.pyc
lib/__pycache__/__init__.cpython-39.pyc
lib/__pycache__/filesystem_control.cpython-39.pyc
lib/__pycache__/helpers.cpython-39.pyc
lib/__pycache__/input_commands.cpython-39.pyc
lib/__pycache__/memory_management.cpython-39.pyc
logs/2021-12-25.txt
modules/__pycache__/__init__.cpython-39.pyc
modules/__pycache__/abort_module.cpython-39.pyc
modules/__pycache__/appQuitter_module.cpython-39.pyc
modules/__pycache__/batteryLevel_module.cpython-39.pyc
modules/__pycache__/batteryReportGenerator_module.cpython-39.pyc
modules/__pycache__/camera_module.cpython-39.pyc
modules/__pycache__/clip_module.cpython-39.pyc
modules/__pycache__/cmd_module.cpython-39.pyc
modules/__pycache__/echo_module.cpython-39.pyc
modules/__pycache__/file_module.cpython-39.pyc
modules/__pycache__/hibernate_module.cpython-39.pyc
modules/__pycache__/launch_module.cpython-39.pyc
modules/__pycache__/lock_module.cpython-39.pyc
modules/__pycache__/log_module.cpython-39.pyc
modules/__pycache__/logoff_module.cpython-39.pyc
modules/__pycache__/media_module.cpython-39.pyc
modules/__pycache__/music_module.cpython-39.pyc
modules/__pycache__/notification_module.cpython-39.pyc
modules/__pycache__/powershell_module.cpython-39.pyc
modules/__pycache__/processes_module.cpython-39.pyc
modules/__pycache__/reco_module.cpython-39.pyc
modules/__pycache__/restart_module.cpython-39.pyc
modules/__pycache__/restricter_module.cpython-39.pyc
modules/__pycache__/say_module.cpython-39.pyc
modules/__pycache__/screenshot_module.cpython-39.pyc
modules/__pycache__/search_module.cpython-39.pyc
modules/__pycache__/shutdown_module.cpython-39.pyc
modules/__pycache__/sleep_module.cpython-39.pyc
modules/__pycache__/speedtest_module.cpython-39.pyc
modules/__pycache__/systemInfo_module.cpython-39.pyc
modules/__pycache__/urlLauncher_module.cpython-39.pyc
modules/__pycache__/versionChecker_module.cpython-39.pyc
modules/__pycache__/whatsapp_module.cpython-39.pyc
modules/__pycache__/wlanSignal_module.cpython-39.pyc
modules/__pycache__/youtube_module.cpython-39.pyc
