.env
__pycache__/
lib/__pycache__/
logs
dowloads/
dowloads/saved_files
printer
modules/__pycache__/
video.avi
rcc.txt
gitreco.txt
photo.jpg
shortcuts
Downloader_info.txt
battery_report.html
screenshot.png
